<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @blog.review%>
</p>
  <%= link_to 'Edit', edit_admin_blog_path(@blog) %> |
  <%= link_to 'Back', admin_blogs_path %>